@font-face {
  font-family: 'Fraunces';
  src: url(Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: max-width 500ms ease;
}

body{
  background: hsl(30, 38%, 92%);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}

.card{
  background: #fff;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card .card-img{
  max-width: 284.45px;
  min-width: 284px;
}

.card .card-img img{
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card .card-img img.normal{
  display: block;
}
.card .card-img img.responsive{
  display: none;
}


.card .container-card{
  padding: 30px 30px 0px;
  min-width: 285px;
  max-width: 286px;
}

.card .container-card p, .card .container-card h2 span, .card .container-card button{
  font-family: 'Montserrat';
}

.card .container-card p{
  font-weight: 500;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  line-height: 1.6em;
}

.card .container-card #perfume{
  letter-spacing: 3pt;
}

.card .container-card h1{
  line-height: 0.9em;
  font-family: 'Fraunces';
  padding: 16px 0px;
  color: hsl(212, 21%, 14%);
}

.card .container-card h2{
  padding: 20px 0px;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Fraunces';
  color: hsl(158, 36%, 37%);
}

.card .container-card h2 span{
  font-size: 14px !important;
  padding: 0px 20px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-weight: 500;
}

.card .container-card button{
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background:hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.card .container-card button:hover{
  background: hsl(158, 26%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 629px){
  .card .card-img{
    max-width: 100%;
    min-width: none;
    width: 100%;
  }
  .card .container-card{
    min-width: none;
    max-width: 100%;
  }
  .card .card-img img.normal{
    display: none;
  }
  .card .card-img img.responsive{
    display: block;
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}